<% @movies.each do |movie| %>
  <div class="movie-results">
    <%= image_tag('movie.png', class: 'list-image') %>
    <div class="movie"> <%= movie.title %> </div>
  </div>
<% end %>

<% if @more_left %>
  <button class="load-more btn btn-info text-center"> Load more </button>
<% end %>