<% if @movie.present? %>
  <div class="movie-cover">
    <%= image_tag "movie.jpg" %>
  </div>
  <h3 class="movie-title"><%= @movie.title %></h3>

<% else %>
  <div>This movie does not exist</div>
<% end %>

<div class='go-home'>
  <%= link_to("Home", '/') %>
</div>