body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.form-inline {
  display: inline-flex;
}

.welcome {
  font-weight: bold;
}

.search-form {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.form-label {
  font-size: 15px;
  margin: auto;
}

.input-container {
  display: inline;
  margin: 0 10px;
}

.form-input {
  min-width: 350px;
}

.suggestions {
  position: absolute;
  min-width: 350px;
  text-align: left;
  margin-top: -1px;

  border: 1px solid #ccc;
  border-top: none;

  background: white;
}

.suggestion {
  display: block;
  padding: 6px;
  color: black;
}

.suggestion:hover {
  text-decoration: none;
  background: lightgrey;
  cursor: pointer;
}

.suggestion:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
