body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.welcome {
  font-weight: bold;
}

.search-form {
    margin: auto;
    width: 50%;
}

.form-label {
    font-size: 15px;
}

.input-container {
    display: inline;
}

.form-input {
    min-width: 350px;
    margin: 0 5px;
}
