body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.form-inline {
  display: inline-flex;
}

.welcome {
  font-weight: bold;
}

.search-form {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.form-label {
  font-size: 15px;
  margin: auto;
}

.input-container {
  display: inline;
  margin: 0 10px;
}

.form-input {
  min-width: 350px;
}

.suggestions {
  position: absolute;
  min-width: 350px;
  text-align: left;

  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;

  background: white;
}

.suggestion {
  font-size: 12px;
  display: block;
  padding: 6px;
  color: black;
  border-bottom: 1px solid #ccc;
}

.suggestion:hover {
  color: black;
  text-decoration: none;
  background: lightgrey;
  cursor: pointer;
}

.movies {
  width: 50%;
  margin: auto;
  text-align: left;
}

.movie {
  font-size: 16px;
  display: inline;
  width: 100%;
  padding-left: 8px;
}

.list-image {
  width: 50px;
}

.movie-results {
  padding: 10px;
}

.movie-results:nth-child(even) {
  background-color: #efefef;
}

.load-more {
  display: block;
  margin: 15px auto;
}
