<div class="text-center col-lg-12">
  <h1 class="welcome text-center"> Welcome to Find My Movie </h1>

  <h3> Which movie are you looking for? </h3>

  <div class="search-form">
    <%= form_tag('/search/movies', method: 'get', remote: true, class: 'form-inline') do %>
      <%= label_tag(:q, 'Basic search:', class: 'form-label') %>

      <div class="input-container">
        <%= text_field_tag(:q, '', placeholder: 'title', class: 'movie-input form-input form-control') %>
        <div class="suggestions"></div>
      </div>

      <%= submit_tag('Go', class: 'btn btn-success') %>
    <% end %>
  </div>

  <div class="movies">
  </div>

  <button class="load-more btn btn-info text-center"> Load more </button>
</div>
