<h1> Welcome to Find My Movie </h1>

<h3> Enter the movie you want to search: </h3>

<%= form_tag("/search/movies", method: "get", remote: true) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, '', placeholder: 'title', class: 'movie-input') %>
  <%= submit_tag("Search") %>
<% end %>

<div class="movies">
</div>
